{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="shortcut icon" href="{{ app_favicon }}">
  <title>{% block title %}{{ project_name | safe }} User Map{% endblock %}</title>

  {% block head_resources %}
    <!--Base Stylesheet -->
    <link rel="stylesheet" href="{% static 'user_map/css/bootstrap.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'user_map/css/user-map.css' %}" type="text/css"/>

    <!-- Base Javascript -->
    <script language="javascript" type="text/javascript" src="{% static 'user_map/js/jquery.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'user_map/js/bootstrap.min.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'user_map/js/validate.js' %}"></script>
  {% endblock head_resources %}
</head>

<body>
{% block body %}
{% endblock body %}

{% block js_container %}
{% endblock js_container %}
</body>
</html>
