{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="shortcut icon" href="{% static app_favicon %}">
  <title>{% block title %}{{ project_name | safe }} User Map{% endblock %}</title>

  {% block head_resources %}
    <!--Base Stylesheet -->
    <link rel="stylesheet" href="{% static 'user_map/css/bootstrap.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'user_map/css/user-map.css' %}" type="text/css"/>

    <!-- Base Javascript -->
    <script language="javascript" type="text/javascript" src="{% static 'user_map/js/jquery.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'user_map/js/bootstrap.min.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'user_map/js/validate.js' %}"></script>
  {% endblock head_resources %}
</head>

<body>
{% block navbar %}
    <div class="user_map_navbar ">
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          {% if not user.is_authenticated %}
            <a href="{% url 'user_map:login' %}">
              <button type="button"
                      class="btn btn-default navbar-btn navbar-left">Log In</button>
            </a>
            <a href="{% url 'user_map:register' %}">
              <button type="button"
                      class="btn btn-default navbar-btn navbar-left">Sign Up</button>
            </a>
          {% endif %}
          {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Hi, {{ user.name }}</b> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'user_map:update_user' %}">Edit Profile</a></li>
                <li><a href="{% url 'user_map:logout' %}">Log Out</a></li>
              </ul>
            </li>
          {% endif %}
        </ul>

      </div><!-- /.navbar-collapse -->
    </nav>
  </div>
{% endblock navbar%}

{% block main_content %}
{% endblock main_content %}

{% block footer %}
{% endblock footer %}

{% block js_container %}
{% endblock js_container %}
</body>
</html>
