{% extends "user_map/base.html" %}
{% load staticfiles %}

{% block main_content %}
{% endblock main_content %}

{% block footer %}
  <div class="container">
    <hr>
    <div class="footer centered">
      © {% now "Y" %} {{ PROJECT_NAME }} User Map. All rights reserved.
    </div>
  </div>
{% endblock footer %}

{% block js_container %}
  <script type="text/javascript">
    var setElementHeight = function () {
      var height = $(window).height();
      $('.autoheight').css('min-height', (height-250));
    };

    $(window).on("resize", function () {
        setElementHeight();
    }).resize();
  </script>
{% endblock js_container %}
