<script id="data-privacy-content-section" type="text/template">
  The data you enter on this site may be visible to others. We suggest that
  you approximate your physical location to the nearest
  town or major center. Parts of your data will be made available for
  others to download and use. We will <strong>not</strong> share:</br>
  <ul>
    <li>your email address</li>
    <li>your unique identifier used to edit your record</li>
  </ul>
  If you would like your data removed from this site, please refer to
  the confirmation email we sent you when you added yourself for
  instructions.
</script>
