{% extends "user_map/base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}

{% block navbar %}
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if not user.is_authenticated %}
          <a href="{% url 'user_map:login' %}">
            <button type="button"
                    class="btn btn-default navbar-btn navbar-left">Log In</button>
          </a>
          <a href="{% url 'user_map:register' %}">
            <button type="button"
                    class="btn btn-default navbar-btn navbar-left">Sign Up</button>
          </a>
        {% endif %}
        {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Hi, {{ user.name }}</b> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'user_map:update_user' %}">Edit Profile</a></li>
              <li><a href="{% url 'user_map:logout' %}">Log Out</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
{% endblock navbar%}

{% block head_resources %}
  {{ block.super }}
  {% leaflet_js %}
  {% leaflet_css %}
  <link rel="stylesheet" href="{% static 'user_map/css/MarkerCluster.css' %}"/>
  <link rel="stylesheet" href="{% static 'user_map/css/MarkerCluster.user-map.css' %}"/>
  <!--[if lte IE 8]>
  <link rel="stylesheet"  href="{% static 'user_map/css/MarkerCluster.user-map.ie.css' %}" />
  <![endif]-->
  <script language="javascript" type="text/javascript" src="{% static 'user_map/js/leaflet.markercluster-src.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'user_map/js/user-map.js' %}"></script>
{% endblock head_resources %}

{% block main_content %}
  {{ block.super }}
  <!-- Leaflet Map div -->
  {% leaflet_map "map" %}

  <!-- All the templates from view-->
  {{ user_menu_button | safe }}
  {{ information_modal | safe }}
  {{ data_privacy_content | safe }}
  {{ legend | safe }}
  {{ user_form_template | safe }}
{% endblock main_content %}


{% block js_container %}
  <script type="text/javascript">
    var map, base_map, data_privacy_content,
        data_privacy_control, user_menu_control, user_icon, trainer_icon,
        developer_icon, estimated_location_circle, current_mode,
        marker_new_user, overlays_layer, users_layer, trainers_layer,
        developers_layer;

    //Initialize Basemap Layer
    base_map = createBasemap(
        '{{ leaflet_tiles.url }}',
        '{{ leaflet_tiles.attribution | safe }}');

    //Create Map with prepared base_map
    map = L.map('map', {
      layers: [base_map]
    });
    map.fitWorld().zoomIn();

    // Initialize all icons for marker
    var icons = createAllIcons(
        "{% static user_icons.user %}",
        '{% static user_icons.trainer %}',
        '{% static user_icons.developer %}',
        '{% static user_icons.shadow %}'
    );
    user_icon = icons.user_icon;
    trainer_icon = icons.trainer_icon;
    developer_icon = icons.developer_icon;

    // Create Data Privacy Control
    data_privacy_control = createDataPrivacyControl();
    map.addControl(new data_privacy_control);

    // Create User Menu Control and add some tooltips
    user_menu_urls = {
      'add-user': '{% url "user_map:register" %}',
      'download': '{% url "user_map:download" %}',
      'reminder': '{% url "user_map:password_reset" %}'
    };
    user_menu_control = createUserMenuControl(user_menu_urls);
    map.addControl(new user_menu_control);
    $(".user-menu-control").tooltip({placement: 'right',
      container: 'body'});

    // Create Legend Control:
    legend_control = createLegendControl();
    map.addControl(new legend_control);

    //All Users Layer using MarkerCLusterGroup
    users_layer = new L.markerClusterGroup({
      iconCreateFunction: function (cluster) {
        return L.divIcon({ html: '<div><span>' + cluster.getChildCount() + '</span></div>',
          className: 'marker-cluster marker-cluster-user',
          iconSize: L.point(40, 40)});
      }
    });
    trainers_layer = new L.markerClusterGroup({
      iconCreateFunction: function (cluster) {
        return L.divIcon({ html: '<div><span>' + cluster.getChildCount() + '</span></div>',
          className: 'marker-cluster marker-cluster-trainer',
          iconSize: L.point(40, 40)});
      }
    });
    developers_layer = new L.markerClusterGroup(
        {
          iconCreateFunction: function (cluster) {
            return L.divIcon({ html: '<div><span>' + cluster.getChildCount() + '</span></div>',
              className: 'marker-cluster marker-cluster-developer',
              iconSize: L.point(40, 40)});
          }
        }
    );

    //Add All Users to the right layer
    var get_users_url = '{% url "user_map:get_users" %}';
    addUsers(get_users_url, users_layer, USER_ROLE);
    addUsers(get_users_url, trainers_layer, TRAINER_ROLE);
    addUsers(get_users_url, developers_layer, DEVELOPER_ROLE);

    //Add All users layer to map
    users_layer.addTo(map);
    developers_layer.addTo(map);
    trainers_layer.addTo(map);

    //Specify all layers on overlays_layers control
    overlays_layer = {
      "Users": users_layer,
      "Developers": developers_layer,
      "Trainers": trainers_layer
    };
    L.control.layers(null, overlays_layer).addTo(map);
  </script>
{% endblock js_container %}
