{% extends "user_map/base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}

{% block navbar %}
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if not user.is_authenticated %}
          <a href="{% url 'user_map:login' %}">
            <button type="button"
                    class="btn btn-default navbar-btn navbar-left">Log In</button>
          </a>
          <a href="{% url 'user_map:register' %}">
            <button type="button"
                    class="btn btn-default navbar-btn navbar-left">Sign Up</button>
          </a>
        {% endif %}
        {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Hi, {{ user.name }}</b> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'user_map:update_user' %}">Edit Profile</a></li>
              <li><a href="{% url 'user_map:logout' %}">Log Out</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
{% endblock navbar%}

{% block head_resources %}
  {{ block.super }}
  {% leaflet_js %}
  {% leaflet_css %}
  <link rel="stylesheet" href="{% static 'user_map/css/LeafletStyleSheet.css' %}"/>
  <!--[if lte IE 8]>
  <link rel="stylesheet"  href="{% static 'user_map/css/MarkerCluster.user-map.ie.css' %}" />
  <![endif]-->
  <script language="javascript" type="text/javascript" src="{% static 'user_map/js/PruneCluster.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'user_map/js/user-map.js' %}"></script>
{% endblock head_resources %}

{% block main_content %}
  {{ block.super }}
  <!-- Leaflet Map div -->
  {% leaflet_map "map" %}

  <!-- All the templates from view-->
  {{ user_menu_button | safe }}
  {{ information_modal | safe }}
  {{ data_privacy_content | safe }}
  {{ legend | safe }}
  {{ user_form_template | safe }}
{% endblock main_content %}


{% block js_container %}
  <script type="text/javascript">
    var map, base_map, data_privacy_content, data_privacy_control,
        user_menu_control;
    var is_authenticated = '{{ user.is_authenticated }}' == 'True';

    //Initialize Basemap Layer
    base_map = createBasemap(
        '{{ leaflet_tiles.url }}',
        '{{ leaflet_tiles.attribution | safe }}');

    //Create Map with prepared base_map
    map = L.map('map', {
      layers: [base_map]
    });
    map.fitWorld().zoomIn();

    // Create Data Privacy Control
    data_privacy_control = createDataPrivacyControl();
    map.addControl(new data_privacy_control);

    // Create User Menu Control and add some tooltips
    var user_menu = (is_authenticated? ['edit', 'delete', 'download'] : ['add', 'download', 'forgot']);
    user_menu_control = createUserMenuControl(user_menu);
    map.addControl(new user_menu_control);
    $(".user-menu-control").tooltip({placement: 'right', container: 'body'});

    // Add markers representing users
    var get_users_url = '{% url "user_map:get_users" %}';
    var marker_icon = createIconMarker(
        "{% static 'user_map/img/user-icon.png' %}",
        "{% static 'user_map/img/shadow-icon.png' %}"
    );

    $.getJSON(get_users_url, function(data) {
      var users_layer = new PruneClusterForLeaflet();

      users_layer.PrepareLeafletMarker = function(leaflet_marker, data) {
        leaflet_marker.setIcon(marker_icon);
        if (leaflet_marker.getPopup()) {
            leaflet_marker.setPopupContent(data.popupContent);
        } else {
            leaflet_marker.bindPopup(data.popupContent);
        }
      };

      for (var i = data['users']['features'].length - 1; i >= 0; i--) {
        var marker = new PruneCluster.Marker(
            parseFloat(data['users']['features'][i]['geometry']['coordinates'][1]),
            parseFloat(data['users']['features'][i]['geometry']['coordinates'][0]),
            {
              popupContent: data['users']['features'][i]['properties']['popupContent']
            }
        );
        users_layer.RegisterMarker(marker);
      }
      map.addLayer(users_layer);
    });
  </script>
{% endblock js_container %}
