{% extends "user_map/base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}

{% block navbar %}
{% endblock navbar%}

{% block head_resources %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'user_map/css/MarkerCluster.css' %}"/>
  <link rel="stylesheet" href="{% static 'user_map/css/MarkerCluster.user-map.css' %}"/>
  <!--[if lte IE 8]>
  <link rel="stylesheet"  href="{% static 'user_map/css/MarkerCluster.user-map.ie.css' %}" />
  <![endif]-->
  <script language="javascript" type="text/javascript" src="{% static 'user_map/js/jsrender.min.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'user_map/js/leaflet.markercluster-src.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'user_map/js/user-map.js' %}"></script>
{% endblock head_resources %}

{% block main_content %}
  {{ block.super }}
  <!-- Leaflet Map div -->
  {% leaflet_map "map" %}

  <!-- All the templates from view-->
  {{ user_menu_button | safe }}
  {{ information_modal | safe }}
  {{ data_privacy_content | safe }}
  {{ filter_menu | safe }}
  {{ user_info_popup_template | safe }}

  {% if messages %}
    <div class="messages" style="display: none;">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endblock main_content %}


{% block js_container %}
  <script type="text/javascript">
    var map, base_map, data_privacy_content, data_privacy_control,
        user_menu_control, users_layer;
    var is_authenticated = '{{ user.is_authenticated }}' == 'True';
    var is_mapped = '{{ is_mapped }}' == 'True';
    var leaflet_tiles = {{ leaflet_tiles | safe}};
    var marker_icon = L.icon({{ marker | safe}});

    //Initialize Basemap Layer
    base_map = L.tileLayer(leaflet_tiles['url'], leaflet_tiles['option']);

    //Create Map with prepared base_map
    map = L.map('map', {
      layers: [base_map]
    });
    map.fitWorld().zoomIn();

    // Center the popup when opened
    map.on('popupopen', function(e) {
      var px = map.project(e.popup._latlng);
      px.y -= e.popup._container.clientHeight/2;
      map.panTo(map.unproject(px),{animate: true});
    });

    // Create Data Privacy Control
    data_privacy_control = createDataPrivacyControl();
    map.addControl(new data_privacy_control);

    // Create User Menu Control and add some tooltips
    var user_menu = (is_mapped? ['edit', 'api'] : ['add', 'api']);
    user_menu_control = createUserMenuControl(user_menu);
    map.addControl(new user_menu_control);
    $(".user-menu-control").tooltip({placement: 'right', container: '.bootstrap-wrapper'});

    // Create Filter Control
    filter_control = createFilterControl();
    map.addControl(new filter_control);

    // Structure roles object
    var roles = {{ roles|safe }};
    var roles_dict = {};
    for (i = 0; i < roles.length; ++i) {
      var content = {};
      content["name"] = roles[i]["name"];
      content["badge"] =  {% static ''%} + roles[i]["badge"];
      roles_dict[roles[i]["id"]] = content;
    }

    // Get displayed_users on the map
    var usermap_list_url = '{% url "user_map:usermap-list" %}';
    var users_layer = L.markerClusterGroup();
    var displayed_users = L.markerClusterGroup().addTo(map);
    addUsers(usermap_list_url, users_layer, marker_icon);

    // Show messages if any
    var messages = $('div.messages').html();
    if (messages)
        showInformationModal('Information', messages);

    // Use jsRender to render popup content
    $.views.settings.delimiters("<%","%>");
    popup_template = $.templates("#popup-content");
  </script>
{% endblock js_container %}
