  <!-- Modal for showing global information -->
  <div class="modal fade" id="information-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
          <p id="info_content">
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
