{% if not user.is_authenticated or not is_mapped %}
  <script id="user-menu-add-button" type="text/template">
    <button type="button" class="btn btn-default btn-sm user-menu-control"
            id="add-user-button" onclick="window.open('{% url "user_map:add" %}', '_self');""
            data-toggle="tooltip" data-original-title="Add me to map!">
      <span class="glyphicon glyphicon-user"></span>
    </button>
  </script>
{% else %}
  <script id="user-menu-edit-button" type="text/template">
    <button type="button" class="btn btn-default btn-sm user-menu-control"
            id="edit-user-button" onclick="window.open('{% url "user_map:update" %}', '_self');""
            data-toggle="tooltip" data-original-title='Edit my profile!'>
      <span class='glyphicon glyphicon-pencil'></span>
    </button>
  </script>
{% endif %}

<script id="user-menu-api-button" type="text/template">
  <button type="button" class="btn btn-default btn-sm user-menu-control"
          id="download-button" onclick="window.open('{% url "user_map:usermap-list" %}');"
          data-toggle="tooltip"
          data-original-title="REST API">
    <span class="glyphicon glyphicon-transfer"></span>
  </button>
</script>
