<script id="popup-content" type="text/x-jsrender">
  <div align='center'>
    <%if properties.image%>
      <img class='img-responsive' width='200px' src='<%:properties.image%>'>
    <%/if%>

    <%props properties.user%>
      <p><b><%>prop%></b></p>
    <%/props%>

    <%if properties.website %>
      <p align='center'><a href='<%:properties.website %>' target='_blank'>Website</a><p align='center'>
    <%/if %>

    <%for roles%>
      <img class='img-rounded' style='margin: 0px 4px 0px 4px' height='20px' width='20px' src='<%:badge %>' data-toggle='tooltip' title='<%:name %>'>
    <%/for%>
 </div>
</script>
