{% extends 'user_map/base_page.html' %}
{% block title %}Reset Password {% endblock %}

{% block main_content %}
  <div class="container autoheight">
    <div class="main-content">
      <div class="page-header">
      <h2>Reset Password <br><small>Please provide your account information
        on the form below.</small></h2>
      </div>
    </div>

    <form class="form-horizontal" action='#' method='POST'>
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          <label for="id_{{ field.name }}" class="col-lg-1 control-label">{{ field.label }}</label>
          <div class="col-lg-4">
              {{ field }}
          </div>
        </div>
        {% if field.errors %}
          <div class="form-group">
            <div class="col-lg-offset-1 col-lg-4">
              <div class="alert alert-danger">
                {{ field.errors }}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}

      {% if form.non_field_errors %}
        <div class="form-group">
          <div class="col-lg-offset-1 col-lg-4">
            <div class="alert alert-danger">
              {{ form.non_field_errors }}
            </div>
          </div>
        </div>
      {% endif %}

      <div class="form-group">
        <div class="col-lg-offset-1 col-lg-4">
          <input type="submit" value="Submit" class="btn btn-default">
        </div>
      </div>
    </form>
  </div>
{% endblock main_content %}
