{% extends 'user_map/base_page.html' %}
{% load bootstrap %}

{% block title %}Reset Password{% endblock %}

{% block main_content %}
  <div class="container autoheight">
    <div class="main-content">
      <div class="page-header">
      <h2>Reset Your Password
        <br><small>Please enter your new password on the form below.</small></h2>
      </div>
    </div>

    {% if validlink %}
      <div class="set-new-password-form">
        <form class="form-horizontal" action='#' method='POST'>
          {% csrf_token %}
          {{ form|bootstrap_horizontal:'col-lg-3'}}
          <div class="form-group">
            <div class="col-lg-offset-3 col-lg-3">
              <input type="submit" value="Submit" class="btn btn-default">
            </div>
          </div>
        </form>
      </div>
    {% else %}
      <p>Ooops! This reset link is no longer valid!</p>
    {% endif %}
  </div>
{% endblock main_content %}
