{% extends 'user_map/base_page.html' %}

{% block main_content %}
  <div class="container autoheight">
    <div class="main-content">
      <div class="page-header">
      <h2>Reset Password</h2>
      </div>
    </div>

    <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
    <p>You should be receiving it shortly.</p>
    <br>
    <p>
      If you don't receive an email, please make sure you've entered the
      address you registered with, and check your spam folder.
    </p>
  </div>
{% endblock main_content%}
