 /* IE 6-8 fallback colors */
.marker-cluster-user {
	background-color: rgb(253, 156, 115);
	}
.marker-cluster-user div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster-trainer {
	background-color: rgb(181, 226, 140);
	}
.marker-cluster-trainer div {
	background-color: rgb(110, 204, 57);
	}

.marker-cluster-developer {
	background-color: rgb(0, 180, 255);
	}
.marker-cluster-developer div {
	background-color: rgb(0, 210, 255);
	}

