.marker-cluster-role1 {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-role1 div {
	background-color: rgba(241, 128, 23, 0.6);
	}

.marker-cluster-role2 {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-role2 div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-role3 {
	background-color: rgba(0, 180, 255, 0.6);
	}
.marker-cluster-role3 div {
	background-color: rgba(0, 210, 255, 0.6);
	}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}
