/* ******************** */
/*         Map          */
/* ******************** */
html {
    height: 100%;
}

body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height:100%;

}

.container {
  width: 100%;
}

#map {
  height: 100%;
}

#map .leaflet-top {
  padding-top: 10px;
}

.transparent {
   background-color: rgba(250, 250, 250, 0.5);
}

.footer {
  color: rgb(120, 120, 120);
  margin-bottom: 20px;
}

.registration-form {
  max-width: 600px;
}

.form-group .multiple-checkbox ul {
    padding-left: 0;
    list-style: outside none none;
}

/* ******************** */
/*       Misc           */
/* ******************** */

.centered {text-align: center;}

.info {
  padding: 10px 20px 10px 10px ;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.filter-menu {
  padding: 10px 20px 10px 10px ;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 4px;
  color: #777;
}

.info img {
  margin: 4px;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.leaflet-popup-content p {
    margin: 5px 0px !important;
}
