/* ******************** */
/*         Map          */
/* ******************** */
body {

}

html, body, #map {
    height: 100%;
}

body > .container {
  margin-top: 70px;
}

#map .leaflet-top {
  padding-top: 50px;
}

.transparent {
   background-color: rgba(250, 250, 250, 0.5);
}

.navbar li { color: #000 }

.navbar-header {
  padding-left: 50px;
}

.navbar-right {
  padding-right: 20px;
}
.navbar-btn {
  margin-left: 5px;
  margin-right: 5px;
}

.footer {
  color: rgb(120, 120, 120);
  margin-bottom: 20px;
}

/* ******************** */
/*       Controls       */
/* ******************** */
.leaflet-control-stats {
    background: none repeat scroll 0 0 #F8F8F9;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 1px 7px #999999;
}
.leaflet-control-stats a {
    background-image: url("../img/update_stats.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 46px;
}
.leaflet-control-stats div, .leaflet-control-stats a {
    height: 46px;
    display: inline-block;
    line-height: 46px;
}
.leaflet-control-stats div {
    padding: 0 5px;
}

/* ******************** */
/*       Misc           */
/* ******************** */

.centered {text-align: center;}

.info {
  padding: 10px 20px 10px 10px ;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 4px;
  color: #777;
}

.info img {
  margin: 4px;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
